<style>
  #loading-overlay {
    background: #ffffff;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #loading-overlay svg {
    max-width: 100px;
    max-height: 100px;
    animation: rotator 2s linear infinite;
  }

  @keyframes rotator {
    from {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
    to {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  }
</style>

<div id="loading-overlay">
  <svg
    width="500"
    height="503"
    viewBox="0 0 500 503"
    fill="none"
    xmlns="http://www.w3.org/2000/svg">
    <path d="M410.677 61.0057C399.218 51.955 384.719 47.6964 370.206 49.1189C355.695 50.5415 342.289 57.5352 332.792 68.64C323.294 79.7449 318.436 94.1022 319.234 108.716C320.03 123.33 326.421 137.069 337.069 147.067C361.496 168.041 377.741 197.011 382.932 228.85C388.121 260.69 381.92 293.347 365.428 321.04C348.935 348.732 323.215 369.676 292.815 380.163C262.416 390.652 229.302 390.007 199.329 378.345C169.359 366.682 144.465 344.753 129.055 316.44C113.644 288.127 108.71 255.253 115.126 223.639C121.542 192.025 138.894 163.709 164.111 143.701C189.327 123.695 220.783 113.286 252.913 114.319C253.754 114.352 254.585 114.115 255.283 113.642C255.981 113.168 256.512 112.485 256.796 111.688C257.08 110.891 257.103 110.025 256.863 109.213C256.622 108.403 256.13 107.691 255.457 107.18C247.597 101.056 241.466 92.9779 237.67 83.745C233.876 74.5121 232.546 64.445 233.816 54.539C235.087 44.6332 238.912 35.2316 244.912 27.2642C250.912 19.2968 258.88 13.0394 268.03 9.11111C268.839 8.74129 269.503 8.11136 269.916 7.32074C270.33 6.53013 270.469 5.62383 270.312 4.745C270.154 3.86636 269.709 3.06526 269.049 2.46805C268.387 1.87102 267.547 1.51223 266.659 1.44806C226.675 -1.52317 186.568 5.26521 149.765 21.2328C112.962 37.2006 80.5575 61.8731 55.3201 93.1424C-28.3587 196.407 -15.6568 349.581 83.5973 437.608C108.102 459.984 136.811 477.224 168.041 488.319C199.27 499.415 232.392 504.14 265.466 502.22C298.54 500.301 330.899 491.773 360.645 477.139C390.394 462.503 416.93 442.057 438.703 416.995C460.473 391.932 477.042 362.76 487.435 331.188C497.828 299.615 501.836 266.279 499.227 233.131C496.616 199.984 487.44 167.692 472.234 138.152C457.03 108.609 436.101 82.4111 410.677 61.0931V61.0057Z" fill="#fcdb03" />
  </svg>
</div>