{%- if section.settings.heading != blank -%}
  {{ section.settings.heading }}
{%- endif -%}

{%- if section.settings.image != blank -%}
  <a href="{{ section.settings.image}}"></a>
{%- else -%}
  {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
{% endif %}



{% schema %}
  {
    "name": "Carosel",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",

        "default": "Heading"
      }, {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }, {
        "type": "image_picker",
        "id": "image_2",
        "label": "Image"
      }, {
        "type": "url",
        "id": "image_link",
        "label": "Image Link"
      }
    ]

  }
{% endschema %}