<div class="faq">
  <div class="tab">
    <input
      type="checkbox"
      id="tab1"
      class="tab-toggle">
    <label for="tab1" class="tab-label">{{ section.settings.tab1 }}</label>


    {% if section.settings.tab1 == empty %}
      <input
        type="checkbox"
        name="{{section.settings.tab1}}"
        style="display:none;">
    {% else %}

      <div class="tab-content" style="max-height: 100vh;">
        {{ section.settings.tab-content }}
      </div>

    {% endif %}

  </div>
</div>


{% schema %}
  {
    "name": "faq",
    "settings": [
      {
        "type": "text",
        "label": "Questions",
        "id": "tab1"
      }, {
        "type": "richtext",
        "label": "Answers",
        "id": "tab-content"
      }, {
        "type": "checkbox",
        "label": "Show faq",
        "id": "tab-toggle",
        "default": true
      }
    ],
    "presets": [
      {
        "category": "text",
        "name": "questions"
      }, {
        "category": "richtext",
        "name": "answers"
      }, {
        "category": "checkbox",
        "name": "showfaq"
      }
    ]
  }
{% endschema %}