<h3>{{ section.settings.heading }}</h3>
<p>{{ section.settings.description }}</p>

{% for block in section.blocks %}
  <img src="{{block.settings.image|img_url:'master'}}" />

{% endfor %}

{% schema %}

  {
    "name": "icons with text above",
    "settings": [
      {
        "type": "text",
        "label": "your headline for the section",
        "id": "heading"
      }, {
        "type": "richtext",
        "label": "your description",
        "id": "description"
      }, {
        "type": "checkbox",
        "label": "Show announcement",
        "id": "show_announcement",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "image block",
        "settings": [
          {
            "type": "image_picker",
            "label": "your image",
            "id": "image"
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "image",
        "name": "icons with text"
      }
    ]
  }
{% endschema %}