<h3>{{ section.settings.heading }}</h3>
<p>{{ section.settings.description }}</p>

{% for block in section.blocks %}
  <img src="{{block.settings.image|img_url:'master'}}" />

{% endfor %}

{% schema %}

  {
    "name": "icons with text above",
    "settings": [
      {
        "type": "text",
        "label": "your headline for the section",
        "id": "heading"
      },
      {
        "type": "richtext",
        "label": "your description",
        "id": "description"
      },
      {
        "type": "checkbox",
        "label": "Show announcement",
        "id": "show_announcement",
        "default": true
      },
      {
        "type": "range",
        "id": "font_size",
        "min": 12,
        "max": 24,
        "step": 1,
        "unit": "px",
        "label": "Font size",
        "default": 16
      }, {
        "type": "select",
        "id": "vertical_alignment",
        "label": "Vertical alignment",
        "options": [
          {
            "value": "top",
            "label": "Top"
          }, {
            "value": "middle",
            "label": "Middle"
          }, {
            "value": "bottom",
            "label": "Bottom"
          }
        ],
        "default": "middle"
      }, {

        "type": "color",
        "id": "body_text",
        "label": "Body text",
        "default": "#000000"

      }

    ],
    "blocks": [
      {
        "type": "image",
        "name": "image block",
        "settings": [
          {
            "type": "image_picker",
            "label": "your image",
            "id": "image"
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "image",
        "name": "icons with text"
      }
    ]
  }
{% endschema %}