<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>
      <div class="rte">
        {{ page.content }}
      </div>

      

      <div class="faq">
        <div class="tab">
          <input
            type="checkbox"
            id="tab2"
            class="tab-toggle">
          <label for="tab2" class="tab-label">How to refund?</label>
          <div class="tab-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Eveniet totam ducimus provident ratione a
          </div>
        </div>
      </div>

      {% section 'faq-page' %}
    </div>
  </div>
</div>